.heading{
    font-size: 25px;
    width:100%;
    margin:0px;
    font-weight: bolder;
    box-shadow : 5px 5px 5px gray;
    color: black;
}

.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color:black;
    font-weight: bolder;
    box-shadow : 5px 5px 5px gray; 
}

.heading_div2{
    font-size: 18px;
}

body{background-color: #89BBFE;}

    .heading{
        font-size: 23px;
        width:100%;
        margin:0px;
        box-shadow : 5px 5px 5px gray;
    }
    
    .heading_div{
        float: none;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        color:black;
        box-shadow : 5px 5px 5px gray; 
    }
    
    .heading_div2{
        font-size: 18px;
    }
    
    .result_para_tag{
        box-shadow : 5px 5px 5px gray; 
        font-size: 20px;
    }
    
    
    canvas {
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
        border-style: ridge;
        margin-top: 680px;
        margin-bottom: 30px;
    }

    #family {
        margin-top: 25px;
        margin-bottom: 30px;
        
    }